.tags-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags-list>li{
    display: inline-block;
    margin-bottom: 7px;
}

nav ul ul {
    display: block !important;
}

#left-panel{
    color: #a8a8a8!important;
}

#left-panel section{
    padding-left:10px;
}

#left-panel a:hover{
    color: #fff;
}
