<div role="main" id="main">
    <div class="container" id="content">
        <div class="span6 col1">
            {% snippet 'home/snippets/promoted.html' %}
        </div>
        <div class="span6 col2">
            {% snippet 'home/snippets/search.html' %}
        </div>
    </div>
    <div class="container" id="content">
        <div class="span6 col1">
            {% snippet 'home/snippets/featured_group.html' %}
        </div>
        <div class="span6 col2">
            {% snippet 'home/snippets/featured_organization.html' %}
        </div>
    </div>
</div>
