<footer class="page-footer" style="height:80px;">
  <div class="row">
    {% block footer_content %}
      <nav class="footer-links col-md-6">
        {% block footer_nav %}
          <ul class="nav navbar-nav">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <div class="attribution pull-right">
        {% block footer_attribution %}
          <p class="txt-color-white padding-10">{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
